name: Example
on:
  workflow_dispatch:
jobs:
  example-job:
    runs-on: ubuntu-latest
    name: Save Output
    steps:
      - shell: bash
        run: |
          expr 1 + 1 > output.log
      - name: Upload output file
        uses: actions/upload-artifact@v1
        with:
          name: output-log-file
          path: output.log
